@use '../abstract/variables' as *;

.ticker-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 60vh;
  
    .skeleton {
      background-color: $color-gray;
    }
  
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
    color: $color-primary;
    font-weight: 500;
    font-size: 22px;
  
    .notFound-img {
      width: 300px;
  
      @media (max-width: 480px) {
        width: 200px;
      }
    }
  
    @media (max-width: 480px) {
      font-size: 18px;
      text-align: center;
      padding: 0 10px;
    }
  }
  