@use '../abstract/variables' as *;

html,
body {
    margin: 0;
    background-color:$color-gray;
    font-family: $font-main;
    color: $color-secondary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none;
    color: $color-white;
}

.container {
    max-width: $container-width;
    padding-left: $container-padding;
    padding-right: $container-padding;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
        padding-left: 8px;
        padding-right: 8px;
    }
}



.modal-circle{
    cursor: pointer;
    float: right;

    &:hover{
        color: $color-primary;
    }
}
.modal-data{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}
.add-button-container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.add-button {
    display: flex;
    align-items: center;
    color: $color-secondary;
    padding: 10px 20px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 0px;
    background-color: transparent; 
    border: solid 2px $color-primary;
    &:hover {
        background-color: $color-primary;
    }
  
    .add-button__icon {
      margin-right: 8px;
      width: 20px;
      height: 20px;
    }
  }
  
.historical-chat-coinname{
    color: $color-primary;
}

.isMobileInModal{
    display: block;
    @media (max-width: 1024px) {
        display: none;
    }
}    

