
  
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quiksand.ttf') format('truetype');
    font-style: normal;
}


$color-white: #fff;
$color-gray: #342d2d;
$color-primary: #3d9970;
$color-secondary: #F9F7F4;
$color-border:#6a6868;

$container-width: 1200px;
$container-padding: 16px;

$font-main: 'Quicksand';
